/* BottomSheet Container */
.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    transition: all 1s ease-in-out;
   
  }
  
  /* Handle Bar */
  .bottom-sheet-handle {
    height: 10vh;
    background-color: #007bff;
    cursor: grab;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }

 
  .showMore{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 1rem 5rem;
  }
  
  